*{
    box-sizing: border-box;
}

body{
    background: #f4f4f4;
    color: #222;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background: #e30613 ;
    color: #fff;
    padding: 24px;
    text-align: center;
}

main{
    width: min(700px, 92%);
    margin: 28px auto;
}

form, article{
    background: #fff;
    padding: 18px;
    margin-bottom: 14px;
    border-radius: 8px;
}

input, textarea, button{
    width: 100%;
    padding: 11px;
    margin: 8px 0 14px;
    font: inherit;
}

textarea{
    min-height: 90px;
    resize: vertical;
}

button{
    background-color: #e30613;
    color: #fff;
    border: 0;
    cursor: pointer;
    font-weight: bold;
}

button:hover{
    background: #b9040e;
}

article{
    border-left: 5px solid #e30613;
}

article p{
    margin-bottom: 0;
}

#aviso{
    min-height: 22px;
    font-weight: bold;
}